<% include ./partials/header.ejs %>
  <!-- panel -->
  <div class="container">
    <div id="contactForm" class="row">
      <!-- left panel for address info -->
      <div class="col-md">
        <span style="width: 100%;" id="addressInfo">
          <h3 id="subheading">Address</h3>
          <p>McMaster Hyperloop <br> 1280 Main St West <br> L8S 4L8 <br> Hamilton, Ontario</p>
          <br>
          <h3 id="subheading">E-mail:</h3>
          <p>mcmasterhyperloopteam@gmail.com</p>
        </span>
      </div>
      <!-- right panel for email -->
      <div class="col-md">
        <span style="width: 100%;" id="msgForm">
          <h3 id="subheading">Let's Get In Touch</h3>
          <form>
            <!-- first and last name input -->
            <div class="form-row">
                <div class="col">
                  <label>First Name *</label>
                  <input type="text" class="form-control" placeholder="First name">
                </div>
                <div class="col">
                  <label>Last Name *</label>
                  <input type="text" class="form-control" placeholder="Last name">
                </div>
            </div>
            <br>
            <!-- email address -->
            <div class="form-group">
              <label for="inputAddress">E-mail *</label>
              <input type="text" class="form-control" id="inputAddress" placeholder="exampleName@example.com">
            </div>
            <!-- message conent -->
            <div class="form-group">
              <label>Message *</label>
              <textarea class="form-control" placeholder="Enter your message here."></textarea>
            </div>
            <!-- submission button -->
            <button type="submit" class="btn btn-lg btn-primary">Send!</button>
          </form>
        </span>
      </div>
    </div>
  </div>

	<!-- JS Script files for bootstrap 4 -->
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
	<!-- minimize logo on scroll -->
	<script src="/scripts/minimizeLogo.js" type="text/javascript"></script>
</body>
</html>