<% include ./partials/header.ejs %>

<!-- page backdrop -->
<div id="podPanel">
  <div id="aboutPanel">
    <img id="aboutPanel_backdrop" src="images/pod_silhouette.png">
  </div>
  <h1 style="color: white; padding-top: 250px; text-shadow: -2px 3px 6px rgb(59, 59, 59);" id="subpageTitle">THE POD</h1>
  <h3 style="color: white; text-align: center; margin-bottom: 210px; text-shadow: -2px 3px 6px rgb(59, 59, 59);" id="subheading">Coming Soon</h3>
</div>

<% include ./partials/footer.ejs %>