<% include ./partials/header.ejs %>
	
	<!-- page backdrop -->
  <div id="teamPanel">
		<h1 id="subpageTitle_secondary">OUR TEAM</h1>
		<div class="container">
			<p id="panelDesc">
        McMaster Hyperloop is comprised of 50 ambitious students, all working towards designing
        and building a functional prototype which we will be taking to compete at the SpaceX Hyperloop
        Pod Competition. We are striving to include all fields of research including biology, engineering, 
        and economics, bringing a unique, unified approach to the international competition.
			</p>
		</div>
	</div>

	<!-- button panel for different sub teams -->
	<div id="teamPanel_buttons" class="btn-group" role="group">
		<span style="width: 100%;"><button id="adminBtn" class="btn btn-primary btn-block active teamBtn">Administrative</button></span>
		<span style="width: 100%;"><button id="softwareBtn" class="btn btn-primary btn-block teamBtn">Software</button></span>
		<span style="width: 100%;"><button id="mechanicalBtn" class="btn btn-primary btn-block teamBtn">Mechanical</button></span>
		<span style="width: 100%;"><button id="electricalBtn" class="btn btn-primary btn-block teamBtn">Electrical</button></span>
	</div>

	<!-- page content -->
  <div id="teamPanel_info">
			<div class="container">
				<div id="adminPanel" class="visiblePanel" >
						<p class="paragraph">
							<strong>Team Lead: Mahek Riaz</strong>
						</p>
						<p>
							The Administrative Team is comprised of four sub-teams:
							<ol type = "1">
								<li>
									Sponsorships/External Relations
								</li>
								<li>
									Internal Relations
								</li>
								<li>
									Finance and Logistics
								</li>
								<li>
									Marketing
								</li>
							</ol>
						</p>
					</div>
				<div id="softwarePanel" class="hiddenPanel" >
					<p  class="paragraph">
						<strong>Team Lead: Maninder Sran</strong>
					</p>
					<p>
						The Software Team is comprised of three sub-teams:
						<ol type = "1">
							<li>
								Embedded
							</li>
							<li>
								Off Board Communications
							</li>
							<li>
								On Board Communications
							</li>
						</ol>
					</p>
				</div>
				<div id="mechanicalPanel" class="hiddenPanel" >
					<p  class="paragraph">
						<strong>Team Lead: Yuvrajvir Sidhu</strong>
					</p>
					<p>
						The Mechanical Team is comprised of three sub-teams:
						<ol type = "1">
							<li>
								Propulsion
							</li>
							<li>
								Aerodynamics
							</li>
							<li>
								Structure
							</li>
						</ol>
					</p>
				</div>
				<div id="electricalPanel" class="hiddenPanel" >
					<p  class="paragraph">
						<strong>Team Lead: Rutvik Sheth</strong>
					</p>
					<p>
						The Electrical Team is comprised of four sub-teams:
						<ol type = "1">
							<li>
								Propulsion
							</li>
							<li>
								Power Distribution
							</li>
							<li>
								Embedded Electronics
							</li>
							<li>
								Braking Systems
							</li>
						</ol>
					</p>
				</div>
			</div>
	</div>
	
<% include ./partials/footer.ejs %>