<% include ./partials/header.ejs %>
	
	<!-- page backdrop -->
  <div id="partnersPanel">
		<h1 style="color: rgb(95, 166, 248);" id="subpageTitle_secondary">PARTNERS</h1>
	</div>

	<!-- page content -->
  <div id="partnersPanel_info">
			<div class="container">
				<div class="row">
					<div class="col">
						<img style="padding: 15px;" class="img-fluid" src="./images/ansys.png">
					</div>
					<div class="col-6">
						<img style="padding: 15px;" class="img-fluid" src="./images/simscale.png">
					</div>
					<div class="col">
						<img style="padding: 15px;" class="img-fluid" src="./images/simscale.png">
					</div>
				</div>
				<br>
				<div class="row">
					<div class="col">
						<img class="img-fluid" src="./images/simscale.png">
					</div>
					<div class="col-5">
						<img class="img-fluid" src="./images/simscale.png">
					</div>
					<div class="col">
						<img class="img-fluid" src="./images/simscale.png">
					</div>
				</div>
			</div>
		</div>

<% include ./partials/footer.ejs %>