body {
  background-image: url(/images/background3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #393a3d;
  height: auto;
  overflow-y: hidden;
}

#landing-header
{
  z-index: 1;
  position: relative;
  text-align: center;
  padding-top: 30vh;
}